.m-commentsList {
    // border-left: 1px solid grey;
    // padding-left: 10px;
    display: flex;
    flex-direction: column;


    > div {
        border-left: 1px solid grey;
        padding-left: 15px;

        > span {
            font-style: italic;
            font-size: .8rem;
            color: grey;
        }
        
        > p {
            font-size: .9rem;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .replyVoteForm {
            display: inline-block;
            margin-right: 10px;
        }

        > button {
            color: #FF7514;
            border: none;
            background-color: unset;
            text-decoration: underline;
            font-size: .9rem;
            cursor: pointer;
        }
    }

    &--truncate {
        > p {
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            display: -webkit-box;
            text-overflow: ellipsis;
            margin-bottom: 5px;
        }
    }
}