.m-commentsList {
    // border-left: 1px solid grey;
    // padding-left: 10px;
    display: flex;
    flex-direction: column;

    > div {
        //border: 1px solid rgba(grey, .2);
        border-left: 2px solid grey;
        padding: 15px 15px 0;

        > span {
            display: flex;
            align-items: center;

            font-style: italic;
            font-weight: bolder;
            font-size: .8rem;
            color: grey;

            img {
                display: inline-block;
                height: 40px;
                aspect-ratio: 1;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
            }
        }
        
        > p {
            font-size: .9rem;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .replyVoteForm {
            display: inline-block;
            margin-right: 10px;
        }

        > button {
            color: #FF7514;
            border: none;
            background-color: unset;
            text-decoration: underline;
            font-size: .9rem;
            cursor: pointer;
            margin-bottom: 15px;
        }

        &:hover {
            border-left: 2px solid #FF7514;
        }
    }


    &--truncate {
        padding: 15px;
        > p {
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            display: -webkit-box;
            text-overflow: ellipsis;
            margin-bottom: 15px!important;
        }
    }
}