.m-commentsList {
    border-left: 1px solid grey;
    padding-left: 10px;

    span {
        font-style: italic;
        font-size: .8rem;
        color: grey;
    }
    p {
        font-size: .9rem;
        margin-bottom: 5px;
        padding-bottom: 3px;
    }

    div {
        border-left: 1px solid grey;
        padding-left: 10px;
    }
}