.t-header {
    position: relative;
    width: 100%;
    background-color: #283440;
    height: 80px;

    > div {
        height: 100%;
        width: 100%;
        max-width: 1200px;
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        > a {
            img {
                background-color: grey;
                height: 45px;
                aspect-ratio: 1;
                //filter: contrast(1000);
                border-radius: 100%;
                filter: invert(1);
            }
        }
    }
}